In [46]:
# importing basic libraries
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score,r2_score
from sklearn.ensemble import RandomForestClassifier

### Data Gathering

In [49]:
deliveries=pd.read_csv(r"C:\Users\pooja\OneDrive\Desktop\ipl-rough\deliveries.csv")
deliveries.sample(7)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
175789,1178421,2,Royal Challengers Bangalore,Delhi Capitals,3,5,V Kohli,K Rabada,PA Patel,1,0,1,NaN,0,NaN,NaN,NaN
170817,1178400,2,Chennai Super Kings,Rajasthan Royals,19,8,MJ Santner,BA Stokes,RA Jadeja,6,0,6,NaN,0,NaN,NaN,NaN
111383,829725,1,Kings XI Punjab,Delhi Daredevils,13,1,WP Saha,A Mishra,V Sehwag,1,0,1,NaN,0,NaN,NaN,NaN
260772,1426312,1,Sunrisers Hyderabad,Kolkata Knight Riders,5,4,AK Markram,VG Arora,Nithish Kumar Reddy,1,0,1,NaN,0,NaN,NaN,NaN
37778,419149,2,Kings XI Punjab,Delhi Daredevils,16,6,Yuvraj Singh,DL Vettori,KC Sangakkara,4,0,4,NaN,0,NaN,NaN,NaN
68207,548348,1,Deccan Chargers,Pune Warriors,9,1,KC Sangakkara,M Kartik,CL White,1,0,1,NaN,0,NaN,NaN,NaN
31292,419123,1,Royal Challengers Bangalore,Chennai Super Kings,13,4,V Kohli,L Balaji,RV Uthappa,1,0,1,NaN,0,NaN,NaN,NaN

In [50]:
matches=pd.read_csv(r"C:\Users\pooja\OneDrive\Desktop\ipl-rough\matches.csv")
matches.sample(7)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
633,1082648,2017,Bangalore,2017-05-17,Eliminator,NM Coulter-Nile,M Chinnaswamy Stadium,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,48.0,6.0,N,D/L,AK Chaudhary,Nitin Menon
543,980953,2016,Hyderabad,2016-04-30,League,DA Warner,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,runs,15.0,195.0,20.0,N,NaN,AK Chaudhary,HDPK Dharmasena
387,598063,2013,Mumbai,2013-05-15,League,AP Tare,Wankhede Stadium,Mumbai Indians,Rajasthan Royals,Rajasthan Royals,field,Mumbai Indians,runs,14.0,167.0,20.0,N,NaN,Asad Rauf,S Asnani
611,1082626,2017,Chandigarh,2017-04-30,League,Sandeep Sharma,"Punjab Cricket Association IS Bindra Stadium, ...",Kings XI Punjab,Delhi Daredevils,Kings XI Punjab,field,Kings XI Punjab,wickets,10.0,68.0,20.0,N,NaN,YC Barde,CK Nandan
480,829751,2015,Mumbai,2015-04-25,League,SL Malinga,Wankhede Stadium,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,runs,20.0,158.0,20.0,N,NaN,HDPK Dharmasena,CB Gaffaney
995,1359520,2023,Chandigarh,2023-05-03,League,Ishan Kishan,"Punjab Cricket Association IS Bindra Stadium, ...",Punjab Kings,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,6.0,215.0,20.0,N,NaN,J Madanagopal,RJ Tucker
809,1216530,2020/21,NaN,2020-11-01,League,PJ Cummins,Dubai International Cricket Stadium,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Kolkata Knight Riders,runs,60.0,192.0,20.0,N,NaN,Nitin Menon,PR Reiffel

### Data Cleaning

In [52]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          260920 non-null  int64
 1   inning            260920 non-null  int64
 2   batting_team      260920 non-null  object
 3   bowling_team      260920 non-null  object
 4   over              260920 non-null  int64
 5   ball              260920 non-null  int64
 6   batter            260920 non-null  object
 7   bowler            260920 non-null  object
 8   non_striker       260920 non-null  object
 9   batsman_runs      260920 non-null  int64
 10  extra_runs        260920 non-null  int64
 11  total_runs        260920 non-null  int64
 12  extras_type       14125 non-null   object
 13  is_wicket         260920 non-null  int64
 14  player_dismissed  12950 non-null   object
 15  dismissal_kind    12950 non-null   object
 16  fielder           9354 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.8+ MB

In [56]:

deliveries['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bangalore',
       'Chennai Super Kings', 'Kings XI Punjab', 'Rajasthan Royals',
       'Delhi Daredevils', 'Mumbai Indians', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

1. due to change in names of teams their are many teams so will convert into 8 teams.
2. as we are creating predictor we will consider only present 8 teams.

In [59]:
def change_name(team_name):
    if team_name in ['Rising Pune Supergiants','Pune Warriors']:
        return 'Rising Pune Supergiant'
    elif team_name=='Royal Challengers Bengaluru':
        return 'Royal Challengers Bangalore'
    elif team_name=='Deccan Chargers':
        return 'Sunrisers Hyderabad'
    elif team_name == 'Delhi Daredevils':
        return 'Delhi Capitals'
    elif team_name== 'Gujarat Lions':
        return 'Gujarat Titans'
    elif team_name == 'Kings XI Punjab':
        return 'Punjab Kings'
    else:
        return team_name

In [61]:
deliveries['batting_team']=deliveries['batting_team'].apply(change_name)
deliveries['bowling_team']=deliveries['bowling_team'].apply(change_name)
matches['team1']=matches['team1'].apply(change_name)
matches['team2']=matches['team2'].apply(change_name)

In [63]:
deliveries=deliveries[(deliveries['batting_team']!='Kochi Tuskers Kerala')&(deliveries['bowling_team']!='Kochi Tuskers Kerala')]
deliveries=deliveries[(deliveries['batting_team']!='Rising Pune Supergiant')&(deliveries['bowling_team']!='Rising Pune Supergiant')]
matches=matches[(matches['team1']!='Kochi Tuskers Kerala')&(matches['team2']!='Kochi Tuskers Kerala')]
matches=matches[(matches['team1']!='Rising Pune Supergiant')&(matches['team2']!='Rising Pune Supergiant')]

In [65]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 240047 entries, 0 to 260919
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          240047 non-null  int64
 1   inning            240047 non-null  int64
 2   batting_team      240047 non-null  object
 3   bowling_team      240047 non-null  object
 4   over              240047 non-null  int64
 5   ball              240047 non-null  int64
 6   batter            240047 non-null  object
 7   bowler            240047 non-null  object
 8   non_striker       240047 non-null  object
 9   batsman_runs      240047 non-null  int64
 10  extra_runs        240047 non-null  int64
 11  total_runs        240047 non-null  int64
 12  extras_type       13091 non-null   object
 13  is_wicket         240047 non-null  int64
 14  player_dismissed  11921 non-null   object
 15  dismissal_kind    11921 non-null   object
 16  fielder           8628 non-null    object
dtypes: int64(8), object(9)
memory usage: 33.0+ MB

In [67]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1006 entries, 0 to 1094
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1006 non-null   int64
 1   season           1006 non-null   object
 2   city             955 non-null    object
 3   date             1006 non-null   object
 4   match_type       1006 non-null   object
 5   player_of_match  1002 non-null   object
 6   venue            1006 non-null   object
 7   team1            1006 non-null   object
 8   team2            1006 non-null   object
 9   toss_winner      1006 non-null   object
 10  toss_decision    1006 non-null   object
 11  winner           1002 non-null   object
 12  result           1006 non-null   object
 13  result_margin    988 non-null    float64
 14  target_runs      1004 non-null   float64
 15  target_overs     1004 non-null   float64
 16  super_over       1006 non-null   object
 17  method           17 non-null     object
 18  umpire1          1006 non-null   object
 19  umpire2          1006 non-null   object
dtypes: float64(3), int64(1), object(16)
memory usage: 165.0+ KB

## runs left

In [70]:
total_runs_df=deliveries.groupby(['match_id','inning'])['total_runs'].sum().reset_index()
total_runs_df

      match_id  inning  total_runs
0       335982       1         222
1       335982       2          82
2       335983       1         240
3       335983       2         207
4       335984       1         129
...        ...     ...         ...
2035   1426310       2         174
2036   1426311       1         175
2037   1426311       2         139
2038   1426312       1         113
2039   1426312       2         114

[2040 rows x 3 columns]

In [72]:
total_runs_df=total_runs_df[total_runs_df['inning']==1]

In [74]:
matches_df=matches.merge(total_runs_df[['match_id','total_runs']],left_on='id',right_on='match_id')

In [76]:
matches_df.columns

Index(['id', 'season', 'city', 'date', 'match_type', 'player_of_match',
       'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner',
       'result', 'result_margin', 'target_runs', 'target_overs', 'super_over',
       'method', 'umpire1', 'umpire2', 'match_id', 'total_runs'],
      dtype='object')

In [78]:
matches_df=matches_df[['match_id','city','winner','total_runs','venue']]

In [80]:
delivery_df=matches_df.merge(deliveries,on='match_id')

In [82]:
delivery_df=delivery_df[delivery_df['inning']==2]

In [84]:
delivery_df

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,...,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240043,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240044,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240045,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
240046,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

In [86]:
delivery_df['current_score']=delivery_df.groupby('match_id')['total_runs_y'].cumsum()

In [88]:
delivery_df['runs_left']=delivery_df['total_runs_x']-delivery_df['current_score']

In [90]:
delivery_df

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,...,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left
124,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,1,0,1,NaN,0,NaN,NaN,NaN,1,221
125,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,0,1,1,wides,0,NaN,NaN,NaN,2,220
126,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,0,NaN,0,NaN,NaN,NaN,2,220
127,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,1,0,1,NaN,0,NaN,NaN,NaN,3,219
128,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,1,0,1,NaN,0,NaN,NaN,NaN,4,218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,1,0,1,NaN,0,NaN,NaN,NaN,110,3
240043,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,1,0,1,NaN,0,NaN,NaN,NaN,111,2
240044,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,1,0,1,NaN,0,NaN,NaN,NaN,112,1
240045,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,1,0,1,NaN,0,NaN,NaN,NaN,113,0
240046,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,1,0,1,NaN,0,NaN,NaN,NaN,114,-1

- Ball left

In [92]:
delivery_df['ball_left'] = 120 - (delivery_df['over']*6 + delivery_df['ball'])

In [93]:
delivery_df

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,ball_left
124,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,1,NaN,0,NaN,NaN,NaN,1,221,119
125,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,1,1,wides,0,NaN,NaN,NaN,2,220,118
126,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,0,NaN,0,NaN,NaN,NaN,2,220,117
127,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,1,NaN,0,NaN,NaN,NaN,3,219,116
128,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,1,NaN,0,NaN,NaN,NaN,4,218,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,0,1,NaN,0,NaN,NaN,NaN,110,3,61
240043,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,0,1,NaN,0,NaN,NaN,NaN,111,2,60
240044,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,0,1,NaN,0,NaN,NaN,NaN,112,1,59
240045,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,0,1,NaN,0,NaN,NaN,NaN,113,0,58
240046,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,0,1,NaN,0,NaN,NaN,NaN,114,-1,57

- wicket left

In [95]:
wicket=delivery_df.groupby('match_id')['is_wicket'].cumsum()
delivery_df['wicket_left']=10-wicket

In [96]:
delivery_df.head(20)

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,ball_left,wicket_left
124,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,1,NaN,0,NaN,NaN,NaN,1,221,119,10
125,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,1,wides,0,NaN,NaN,NaN,2,220,118,10
126,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,NaN,0,NaN,NaN,NaN,2,220,117,10
127,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,1,NaN,0,NaN,NaN,NaN,3,219,116,10
128,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,1,NaN,0,NaN,NaN,NaN,4,218,115,10
129,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,6,...,0,NaN,0,NaN,NaN,NaN,4,218,114,10
130,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,7,...,0,NaN,0,NaN,NaN,NaN,4,218,113,10
131,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,...,0,NaN,1,R Dravid,bowled,NaN,4,218,113,9
132,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,2,...,0,NaN,0,NaN,NaN,NaN,4,218,112,9
133,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,...,4,legbyes,0,NaN,NaN,NaN,8,214,111,9
134,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,4,...,1,NaN,0,NaN,NaN,NaN,9,213,110,9
135,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,5,...,0,NaN,0,NaN,NaN,NaN,9,213,109,9
136,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,6,...,0,NaN,0,NaN,NaN,NaN,9,213,108,9
137,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,1,...,0,NaN,0,NaN,NaN,NaN,9,213,107,9
138,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,2,...,0,NaN,1,V Kohli,bowled,NaN,9,213,106,8
139,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,3,...,1,NaN,0,NaN,NaN,NaN,10,212,105,8
140,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,4,...,0,NaN,0,NaN,NaN,NaN,10,212,104,8
141,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,5,...,1,wides,0,NaN,NaN,NaN,11,211,103,8
142,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,6,...,0,NaN,0,NaN,NaN,NaN,11,211,102,8
143,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,2,7,...,1,NaN,0,NaN,NaN,NaN,12,210,101,8

- current_runrate

In [100]:
delivery_df['crr']=round(delivery_df['current_score']*6/(120-delivery_df['ball_left']),2)

In [101]:
delivery_df

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,...,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,ball_left,wicket_left,crr
124,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,NaN,0,NaN,NaN,NaN,1,221,119,10,6.00
125,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,wides,0,NaN,NaN,NaN,2,220,118,10,6.00
126,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,NaN,0,NaN,NaN,NaN,2,220,117,10,4.00
127,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,NaN,0,NaN,NaN,NaN,3,219,116,10,4.50
128,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,NaN,0,NaN,NaN,NaN,4,218,115,10,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,NaN,0,NaN,NaN,NaN,110,3,61,8,11.19
240043,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,NaN,0,NaN,NaN,NaN,111,2,60,8,11.10
240044,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,NaN,0,NaN,NaN,NaN,112,1,59,8,11.02
240045,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,NaN,0,NaN,NaN,NaN,113,0,58,8,10.94
240046,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,NaN,0,NaN,NaN,NaN,114,-1,57,8,10.86

- rrr

In [108]:
delivery_df['rrr']=round((delivery_df['runs_left']*6)/delivery_df['ball_left'],2)

In [110]:
delivery_df

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,ball_left,wicket_left,crr,rrr
124,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,0,NaN,NaN,NaN,1,221,119,10,6.00,11.14
125,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,0,NaN,NaN,NaN,2,220,118,10,6.00,11.19
126,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,0,NaN,NaN,NaN,2,220,117,10,4.00,11.28
127,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,0,NaN,NaN,NaN,3,219,116,10,4.50,11.33
128,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,0,NaN,NaN,NaN,4,218,115,10,4.80,11.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,0,NaN,NaN,NaN,110,3,61,8,11.19,0.30
240043,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,0,NaN,NaN,NaN,111,2,60,8,11.10,0.20
240044,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,0,NaN,NaN,NaN,112,1,59,8,11.02,0.10
240045,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,0,NaN,NaN,NaN,113,0,58,8,10.94,0.00
240046,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,0,NaN,NaN,NaN,114,-1,57,8,10.86,-0.11

In [111]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [112]:
delivery_df['result']=delivery_df.apply(result,axis=1)

In [113]:
delivery_df

,match_id,city,winner,total_runs_x,venue,inning,batting_team,bowling_team,over,ball,...,player_dismissed,dismissal_kind,fielder,current_score,runs_left,ball_left,wicket_left,crr,rrr,result
124,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,...,NaN,NaN,NaN,1,221,119,10,6.00,11.14,0
125,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,...,NaN,NaN,NaN,2,220,118,10,6.00,11.19,0
126,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,...,NaN,NaN,NaN,2,220,117,10,4.00,11.28,0
127,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,...,NaN,NaN,NaN,3,219,116,10,4.50,11.33,0
128,335982,Bangalore,Kolkata Knight Riders,222,M Chinnaswamy Stadium,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,...,NaN,NaN,NaN,4,218,115,10,4.80,11.37,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
240042,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,...,NaN,NaN,NaN,110,3,61,8,11.19,0.30,1
240043,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,...,NaN,NaN,NaN,111,2,60,8,11.10,0.20,1
240044,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,...,NaN,NaN,NaN,112,1,59,8,11.02,0.10,1
240045,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,...,NaN,NaN,NaN,113,0,58,8,10.94,0.00,1
240046,1426312,Chennai,Kolkata Knight Riders,113,"MA Chidambaram Stadium, Chepauk, Chennai",2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,...,NaN,NaN,NaN,114,-1,57,8,10.86,-0.11,1

In [123]:
final_df=delivery_df[['batting_team','bowling_team','city','runs_left','venue','ball_left','wicket_left','crr','rrr','result']]

In [125]:
final_df

,batting_team,bowling_team,city,runs_left,venue,ball_left,wicket_left,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,M Chinnaswamy Stadium,119,10,6.00,11.14,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,M Chinnaswamy Stadium,118,10,6.00,11.19,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,M Chinnaswamy Stadium,117,10,4.00,11.28,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,M Chinnaswamy Stadium,116,10,4.50,11.33,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,218,M Chinnaswamy Stadium,115,10,4.80,11.37,0
...,...,...,...,...,...,...,...,...,...,...
240042,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,"MA Chidambaram Stadium, Chepauk, Chennai",61,8,11.19,0.30,1
240043,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,"MA Chidambaram Stadium, Chepauk, Chennai",60,8,11.10,0.20,1
240044,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,"MA Chidambaram Stadium, Chepauk, Chennai",59,8,11.02,0.10,1
240045,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,"MA Chidambaram Stadium, Chepauk, Chennai",58,8,10.94,0.00,1
240046,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,-1,"MA Chidambaram Stadium, Chepauk, Chennai",57,8,10.86,-0.11,1

In [159]:
final_df.venue.unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association IS Bindra Stadium', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium', 'MA Chidambaram Stadium',
       'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
       'Kingsmead', 'SuperSport Park', 'Buffalo Park',
       'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Brabourne Stadium, Mumbai',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Green Park',
       'Holkar Cricket Stadium', 'Arun Jaitley Stadium',
       'Narendra Modi Stadium, Ahmedabad',
       'Zayed Cricket Stadium, Abu Dhabi',
       'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow',
       'Barsapara Cricket Stadium, Guwahati',
       'Sawai Mansingh Stadium, Jaipur',
       'Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur'],
      dtype=object)

In [197]:
# Mapping dictionary for cleaning
venue_mapping = {
    'M Chinnaswamy Stadium, Bengaluru': 'M Chinnaswamy Stadium',
    'M.Chinnaswamy Stadium': 'M Chinnaswamy Stadium',
    'Punjab Cricket Association Stadium, Mohali': 'Punjab Cricket Association IS Bindra Stadium',
    'Punjab Cricket Association IS Bindra Stadium, Mohali': 'Punjab Cricket Association IS Bindra Stadium',
    'Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh': 'Punjab Cricket Association IS Bindra Stadium',
    'MA Chidambaram Stadium, Chepauk': 'MA Chidambaram Stadium',
    'MA Chidambaram Stadium, Chepauk, Chennai': 'MA Chidambaram Stadium',
    'Wankhede Stadium, Mumbai': 'Wankhede Stadium',
    'Arun Jaitley Stadium, Delhi': 'Arun Jaitley Stadium',
    'Eden Gardens, Kolkata': 'Eden Gardens',
    'Rajiv Gandhi International Stadium, Uppal': 'Rajiv Gandhi International Stadium',
    'Rajiv Gandhi International Stadium, Uppal, Hyderabad': 'Rajiv Gandhi International Stadium',
    'Dr DY Patil Sports Academy, Mumbai': 'Dr DY Patil Sports Academy',
    'Maharashtra Cricket Association Stadium, Pune': 'Maharashtra Cricket Association Stadium',
    'Himachal Pradesh Cricket Association Stadium, Dharamsala': 'Himachal Pradesh Cricket Association Stadium',
    'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam': 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
    'Brabourne Stadium, Mumbai':'Brabourne Stadium',
    'Sawai Mansingh Stadium, Jaipur':'Sawai Mansingh Stadium',
    'Narendra Modi Stadium, Ahmedabad': 'Narendra Modi Stadium',
    'Zayed Cricket Stadium, Abu Dhabi': 'Zayed Cricket Stadium',
    'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow': 'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium',
    'Barsapara Cricket Stadium, Guwahati': 'Barsapara Cricket Stadium',
    'Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur': 'Maharaja Yadavindra Singh International Cricket Stadium'
    
    # Add more mappings as necessary
}

# Replace venue names
final_df['venue']=final_df['venue'].replace(venue_mapping)

C:\Users\pooja\AppData\Local\Temp\ipykernel_3256\3290223191.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['venue']=final_df['venue'].replace(venue_mapping)

In [179]:
final_df

,batting_team,bowling_team,city,runs_left,venue,ball_left,wicket_left,crr,rrr,result
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,221,M Chinnaswamy Stadium,119,10,6.00,11.14,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,220,M Chinnaswamy Stadium,118,10,6.00,11.19,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,220,M Chinnaswamy Stadium,117,10,4.00,11.28,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,219,M Chinnaswamy Stadium,116,10,4.50,11.33,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bengaluru,218,M Chinnaswamy Stadium,115,10,4.80,11.37,0
...,...,...,...,...,...,...,...,...,...,...
240042,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,3,MA Chidambaram Stadium,61,8,11.19,0.30,1
240043,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,2,MA Chidambaram Stadium,60,8,11.10,0.20,1
240044,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,1,MA Chidambaram Stadium,59,8,11.02,0.10,1
240045,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,0,MA Chidambaram Stadium,58,8,10.94,0.00,1
240046,Kolkata Knight Riders,Sunrisers Hyderabad,Chennai,-1,MA Chidambaram Stadium,57,8,10.86,-0.11,1

In [199]:
venue_to_city = {
    'M Chinnaswamy Stadium': 'Bengaluru',
    'Punjab Cricket Association IS Bindra Stadium': 'Mohali',
    'Feroz Shah Kotla': 'Delhi',
    'Wankhede Stadium': 'Mumbai',
    'Eden Gardens': 'Kolkata',
    'Sawai Mansingh Stadium': 'Jaipur',
    'Rajiv Gandhi International Stadium': 'Hyderabad',
    'MA Chidambaram Stadium': 'Chennai',
    'Dr DY Patil Sports Academy': 'Mumbai',
    'Newlands': 'Cape Town',
    "St George's Park": 'Port Elizabeth',
    'Kingsmead': 'Durban',
    'SuperSport Park': 'Centurion',
    'Buffalo Park': 'East London',
    'New Wanderers Stadium': 'Johannesburg',
    'De Beers Diamond Oval': 'Kimberley',
    'OUTsurance Oval': 'Bloemfontein',
    'Brabourne Stadium': 'Mumbai',
    'Sardar Patel Stadium, Motera': 'Ahmedabad',
    'Barabati Stadium': 'Cuttack',
    'Vidarbha Cricket Association Stadium, Jamtha': 'Nagpur',
    'Himachal Pradesh Cricket Association Stadium': 'Dharamshala',
    'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 'Visakhapatnam',
    'Subrata Roy Sahara Stadium': 'Pune',
    'Shaheed Veer Narayan Singh International Stadium': 'Raipur',
    'JSCA International Stadium Complex': 'Ranchi',
    'Sheikh Zayed Stadium': 'Abu Dhabi',
    'Sharjah Cricket Stadium': 'Sharjah',
    'Dubai International Cricket Stadium': 'Dubai',
    'Maharashtra Cricket Association Stadium': 'Pune',
    'Saurashtra Cricket Association Stadium': 'Rajkot',
    'Green Park': 'Kanpur',
    'Holkar Cricket Stadium': 'Indore',
    'Arun Jaitley Stadium': 'Delhi',
    'Narendra Modi Stadium': 'Ahmedabad',
    'Zayed Cricket Stadium': 'Abu Dhabi',
    'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium': 'Lucknow',
    'Barsapara Cricket Stadium': 'Guwahati',
    'Maharaja Yadavindra Singh International Cricket Stadium': 'Chandigarh'
}

final_df['city']=final_df['venue'].map(venue_to_city)

C:\Users\pooja\AppData\Local\Temp\ipykernel_3256\385027823.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['city']=final_df['venue'].map(venue_to_city)

In [201]:
final_df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association IS Bindra Stadium', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium', 'MA Chidambaram Stadium',
       'Dr DY Patil Sports Academy', 'Newlands', "St George's Park",
       'Kingsmead', 'SuperSport Park', 'Buffalo Park',
       'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Green Park',
       'Holkar Cricket Stadium', 'Arun Jaitley Stadium',
       'Narendra Modi Stadium', 'Zayed Cricket Stadium',
       'Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium',
       'Barsapara Cricket Stadium',
       'Maharaja Yadavindra Singh International Cricket Stadium'],
      dtype=object)

0